@using PhoneShop.Models.Entities;
@model IEnumerable<Customers>

@{
    ViewData["Title"] = "Customers";
}

<h2>Customers</h2>
@foreach (var customer in Model)
{
    <div>
        <h4>@customer.FullName</h4>
        <p>@customer.Email</p>
        <p>@customer.Phone</p>
    </div>
}



@*
<table class="table">
<thead>
<tr>
<th>
@Html.DisplayNameFor(model => model.First().Name)
</th>
<th>
@Html.DisplayNameFor(model => model.First().Email)
</th>
<th>
@Html.DisplayNameFor(model => model.First().PhoneNumber)
</th>
<th></th>
</tr>
</thead>
<tbody>
@foreach (var customer in Model)
{
<tr>
<td>
@Html.DisplayFor(modelItem => customer.Name)
</td>
<td>
@Html.DisplayFor(modelItem => customer.Email)
</td>
<td>
@Html.DisplayFor(modelItem => customer.PhoneNumber)
</td>
<td>
<a asp-action="Edit" asp-route-id="@customer.Id">Edit</a> |
<a asp-action="Details" asp-route-id="@customer.Id">Details</a> |
<a asp-action="Delete" asp-route-id="@customer.Id">Delete</a>
</td>
</tr>
}
</tbody>
</table> *@